@import 'styles/variables';

.techWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    .tag {
        background-image: $tagsBackground;
        padding: 6px 9px;
        border-radius: 14px;
    }
}
