@import 'styles/variables';
@import 'styles/breakpoints';

.cardWrapper {
    max-width: 300px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    background-color: white;
    box-shadow: 4px 4px 10px rgba($color: #000000, $alpha: 0.4);

    .imageContainer {
        position: relative;
        overflow: hidden;
        height: 200px;
        border-radius: 22px;
        img {
            object-fit: cover;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            bottom: 50px;
            left: 0;
            background: transparent;
            border-radius: 50%;
            box-shadow: -10px 10px 0 white;
        }
        &::after {
            left: unset;
            bottom: 0;
            right: 100px;
            box-shadow: -10px 10px 0 white;
        }
    }

    .infoBox {
        background-color: $card-background;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        gap: 16px;
        height: 240px;
        border-radius: 20px;
        border-top-left-radius: 0;
        &::after {
            content: '';
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: absolute;
            top: -20px;
            left: 170px;
            background-color: transparent;
            box-shadow: -10px 10px 0 $card-background;
        }

        .title {
            position: absolute;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
            margin: 0;
            top: -60px;
            left: 0;
            height: 60px;
            width: 60%;
            font-size: 16px;
            background-color: $card-background;
            border-top-right-radius: 24px;
            border-top: $card-border;
            border-right: $card-border;

            &::before {
                content: '';
                overflow: hidden;
                position: absolute;
                width: 20px;
                height: 20px;
                top: 0;
                left: 0;
                background: transparent;
                border-radius: 50%;
                box-shadow: -10px -10px 0 white;
            }
        }
    }
}
