@import 'styles/variables';
@import 'styles/breakpoints';

.siteWrapper {
    width: 100%;
    color: $primary-text;

    main {
        max-width: 1400px;
        margin: 0 auto;
        padding: 16px;
        @include md {
            padding: 40px;
        }
    }
}
