@import 'styles/variables';
@import 'styles/breakpoints';

.header {
    position: fixed;
    background: rgba($color: #000000, $alpha: 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    .wrapper {
        display: flex;
        max-width: 1400px;
        margin: 0 auto;
        justify-content: space-between;

        .logo {
            width: 120px;
            height: 100px;
            position: relative;
            cursor: pointer;
        }
        .nav {
            display: flex;
            gap: 20px;
        }
    }
}
