@import '_breakpoints';

.header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 600px;

    @include md {
        display: grid;
        grid-template-columns: auto 1fr;
        justify-content: center;
        align-items: center;
        height: 800px;
    }

    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        h1 {
            font-size: clamp(32px, 3vw, 64px);
        }

        h2 {
            font-size: clamp(24px, 2vw, 48px);
            font-weight: 400;
        }

        .button {
            width: 190px;
        }
        @include md {
            align-items: flex-start;
        }
    }

    .image {
        width: 80%;
        position: relative;
        @include md {
            transform: translate(-60px, 10px);
            width: 100%;
        }
        img {
            width: 100% !important;
            height: 100% !important;
        }
    }
}
