.header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;

    h2 {
        font-size: 4em;
    }

    h3 {
        font-size: 3em;
        font-weight: 400;
    }

    &.image {
        transform: translate(200px, -140px);
        width: 80%;
        @media (max-width: 787px) {
            transform: translate(-60px, 10px);
            width: 120%;
        }
    }
    .button {
        display: inline-block;
        background: #d42990;
        padding: 10px 16px;
        border-radius: 10px;
        margin-top: 20px;
        font-weight: 500;
    }
}
