@import 'styles/variables';

.button {
    padding: 12px;
    font-size: 20px;
    height: 50px;
    width: 100px;
    border: none;
    color: $primary-text;
    filter: url('#gooey');
    position: relative;
    background-color: $prime;
    border-radius: 10px;

    &:focus {
        outline: none;
    }

    .bubbles {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        .bubble {
            background-color: $prime;
            border-radius: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            z-index: -1;

            @for $bubble from 1 through 10 {
                &:nth-child(#{$bubble}) {
                    $size: 20px;
                    left: (random(80) * 1%);
                    width: $size;
                    height: $size;
                    animation: move-#{$bubble} #{3 + $bubble * 0.02}s infinite;
                    animation-delay: #{$bubble * 0.2}s;
                }
            }
        }
    }
}
@for $bubble from 1 through 10 {
    @keyframes move-#{$bubble} {
        0% {
            transform: translate(0, 0);
        }
        99% {
            transform: translate(0, -(random(90) + 50) + px);
        }
        100% {
            transform: translate(0, 0);
            opacity: 0;
        }
    }
}
