$siteBackground: linear-gradient(
    30deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
);
$tagsBackground: linear-gradient(to right, #f27121cc, #e94057cc, #8a2387cc);

$primary-text: #fff;

$card-border: 10px solid #fff;
$card-background: darkblue;

$prime: #e94097;
$second: #0c1016;
