$siteBackground: linear-gradient(
    30deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
);
$tagsBackground: linear-gradient(to right, #b1035acc, #5a0b9bcc, #0f1fb4cc);

$primary-text: #fff;

$card-border: 10px solid #fff;
$card-background: rgba(9, 9, 121, 1);

$primary-light: #e96097;
$primary: #e94097;
$primary-dark: #e91097;

$max-site-width: 1400px;

$indicatorColor: purple;
$navbarColor: darkblue;
